body {
    background-color: rgba(92, 244, 92, 0.5);
}


h1 {
    color: blue;
    padding: 10px 20px 5px 10px;
    
}


.tekst {
    font-size: 40px;
}

#new {
    color: rgb(0,255,0);
}

#bb {
    border-radius: 9px;
    background-color: rgba(33,56,154, 0,5);
}