body{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
h1{
  font-weight: bolder;
  font-size: 40px;
}
html{
  background-color: black;
  color: green;
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.main{
  margin-left: 10%;
  margin-right: 10%;
}
.append{
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* #btn{
  margin-left: 438px;
  margin-right: 438px;
} */
.logs{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
button{
  background-color: #28B536;
  border-radius: 20%;
  outline: none;
  font-weight: bolder;
  width: 180px;
  height: 50px;
  text-align-last: center;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  box-shadow: 3px 3px 3px black;
  transition: 0.5;
}
button:hover{
    background-color: #37F549;
    border-radius: 20%;
    outline: none;
    font-weight: bolder;
    width: 180px;
    height: 50px;
    text-align-last: center;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    transition: 1;

}
.values{
  height: 50px;
  display:flex;
  text-align-last: center;
  justify-content: center;
  text-align: center;
}
#kmph, #load, #dist{
  background-color: gray;
  height: 30px;
  outline: none;
  margin-right: 20px;
  margin-left: 20px;
}
input{
  /* font-weight: bolder; */
  font-size: 15px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.warning{
  visibility: hidden;
}
