.header {
    height: 15%;
    width: 100%;
    background-color: aqua;
    float: left;
    
}
.navbar {
    height: 70%;
    width: 15%;
    background-color: darkblue
}
.content {
    height: 15%;
    width: 1000px;
    background-color: darkcyan
}
.ad {
    height: 15%;
    width: 1000px;
    background-color: darkgoldenrod
}
.footer {
    height: 15%;
    width: 1000px;
    background-color: darkgreen
}
