html{
  background-color: #582A72;
  
}

.header{
    width: 100%;
    height: 50px;
    background-color: #3D1255;
    text-align-last: center;




}
.leftBar{
    width: 20%;
    height: 700px;
    background-color: #582A72;
    float:left;
    font-size: 27.5px;
    padding-top: 0px;
    margin-top: 0px;
    /* text-align-last: center; */



}
.midContent{
    width: 60%;
    height: 700px;
    background-color: #764B8E;
    float:left;
    text-align: center;



}
.rightBar{
    width: 20%;
    height: 700px;
    background-color: #582A72;
    float:left;
    text-align: center;



}


#kontakty2{
    font-family: 'Roboto', sans-serif;
}





.globalUzytkownicy{
    font-family: 'Roboto', sans-serif;
}
.globalKontakty{
    font-family: 'Roboto', sans-serif;

}
.globalGaleria{
    font-family: 'Roboto', sans-serif;

}
.globalHome{
    font-family: 'Roboto', sans-serif;
}
/* //zmien menu napisy zeby bylo turbo czytelnie i kolorystyka strony z https://color.adobe.com/pl/create/color-wheel*/


.homeButton, .userButton, .contactButton, .galleryButton {
    transition-duration: 0.7s;

    width:50%;
    height: 20%;
    margin-top: 10px;
    margin-left: 25%;
    margin-bottom: 10px;
    border-style: dashed;
    border-color: #9F5B70;
    background-color: #582A72;
    color: black;
  }

  .homeButton:hover, .userButton:hover, .contactButton:hover, .galleryButton:hover {
    background-color: #260339;
    color:white;

  }
.homeButton:hover span {display:none}
.userButton:hover span {display:none}
.contactButton:hover span {display:none}
.galleryButton:hover span {display:none}
.homeButton:hover:before {

    text-align-last: center;
    font-size: 26px;
    padding: 20px;
    content:".home()";


}
.userButton:hover:before {

    text-align-last: center;
    font-size: 26px;
    content:".users()";


}
.contactButton:hover:before {

    text-align-last: center;
    font-size: 26px;
    content:".contact()";


}
.galleryButton:hover:before {

    text-align-last: center;
    font-size: 26px;
    content:".gallery()";


}
.clickbutton{
  height: 30%;
  width: 50%;
  border-radius: 10%;
  background-color: #582A72;
  border-style: solid;

}
.clickbutton:active{
  transition: 0.5s;
  height: 30%;
  width: 50%;
  background-color: #47225c;
  border-style:dotted;
  border-width: thick;
}
.recieveIdle {
  height: 10%;
  width: 50%;
  border-radius: 10%;
  background-color: lime;
  border-style: solid;
  visibility: hidden;
}
.recieveIdle:active {
  transition: 0.5s;
  height: 10%;
  width: 50%;
  background-color: green;
  border-style:dotted;
  border-width: thick;

}
.idleUpgradeButton, .clickUpgradeButton{
  height: 10%;
  width: 50%;
  border-radius: 10%;
  background-color: lime;
  border-style: solid;
}
.idleUpgradeButton:active, .clickUpgradeButton:active{
  height: 10%;
  width: 50%;
  border-radius: 10%;
  background-color: yellow;
  border-style: solid;
}
